<div class="card">
  
    <div class="card-content">
      <div class="card-header">
        <h5 class="card-title">Formulario {{ user.id > 0 ?
              "Actualizar" : "Crear" }}</h5>
      </div>
      <div class="card-body">


        <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm" class="form-group" autocomplete="off">
          <!-- Formulario de creación de usuario -->

          <h2>Crear Usuario</h2>

          <!-- Campos del formulario -->
          <input class="form-control my-2" placeholder="Enter Name" name="name" [(ngModel)]="user.name" 
            #name="ngModel" autofocus minlength="8" maxlength="20" pattern="[a-zA-ZÀ-ÿ\s]{8,20}"
            title="Debe contener entre 8 y 20 caracteres, solo letras y espacios" />

          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div class="alert alert-danger" *ngIf="name.errors!['required']">
              El campo Nombre es obligatorio.
            </div>
            <div class="alert alert-danger" *ngIf="name.errors!['minlength']">
              El campo Nombre debe tener al menos 8 caracteres.
            </div>
            <div class="alert alert-danger" *ngIf="name.errors!['maxlength']">
              El campo Nombre no puede exceder los 20 caracteres.
            </div>
            <div class="alert alert-danger" *ngIf="name.errors!['pattern']">
              El campo Nombre solo puede contener letras y espacios.
            </div>
          </div>

          <input class="form-control my-2" placeholder="Enter LastName" name="lastName" [(ngModel)]="user.lastname"
             #lastName="ngModel" pattern="[a-zA-ZÀ-ÿ\s]{8,20}" />
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div class="alert alert-danger" *ngIf="lastName.errors!['required']">
              El campo Apellido es obligatorio.
            </div>
            <div class="alert alert-danger" *ngIf="lastName.errors!['minlength']">
              El campo Apellido debe tener al menos 8 caracteres.
            </div>
            <div class="alert alert-danger" *ngIf="lastName.errors!['maxlength']">
              El campo Apellido no puede exceder los 20 caracteres.
            </div>
            <div class="alert alert-danger" *ngIf="lastName.errors!['pattern']">
              El campo Apellido solo puede contener letras y espacios.
            </div>
          </div>

          <input class="form-control my-2" placeholder="Enter Email" name="email" [(ngModel)]="user.email" 
            type="email"  title="Debe ser un correo electrónico válido"
            #email="ngModel" /> <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" --> 
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="alert alert-danger" *ngIf="email.errors!['required']">
              El campo Email es obligatorio.
            </div>
            <div class="alert alert-danger" *ngIf="email.errors!['pattern']">
              El formato del correo electrónico no es válido.
            </div>
          </div>
          <input class="form-control my-2" placeholder="Enter Address" name="address" [(ngModel)]="user.username"
            required #address="ngModel" pattern ="^(?!.* {2})[a-zA-Z0-9]+(?: [a-zA-Z0-9]+){1,50}$"
          >
                        
          <div *ngIf="address.invalid && (address.dirty || address.touched)">
            <div class="alert alert-danger" *ngIf="address.errors!['required']">
              El campo Dirección es obligatorio.
            </div>

            <div class="alert alert-danger" *ngIf="address.errors!['pattern']">
              La dirección no es válida. Evite caracteres especiales y múltiples espacios.
            </div>
          </div>

          <input type="password" class="form-control" placeholder="Enter Password" name="password"
            [(ngModel)]="user.password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[.,@$!%*#?&-_])[a-zA-Z\d.,@$!%*#?&-_]{8,}$"
             #password="ngModel" />
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div class="alert alert-danger" *ngIf="password.errors!['required']">
              El campo Contraseña es obligatorio.
            </div>
            <div class="alert alert-danger" *ngIf="password.errors!['pattern']">
              {{ SPECIAL_CHAR_MESSAGE }}
            </div>
            <div class="alert alert-danger" *ngIf="password.errors!['minlength']">
              La contraseña debe tener al menos 8 caracteres.
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary my-2" [disabled]="userForm.invalid"> {{ user.id > 0 ?
              "Actualizar" : "Crear" }}
            </button>
            <button type="button" class="btn btn-secondary my-2" (click)="userForm.reset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
