<h3>{{title}}</h3>

<button class="btn btn-primary my-4" [routerLink]="['/users/create']">
    Crear Usuario
</button>


<div *ngIf="users && users.length > 0; else noUsers">
    <p>Users loaded successfully!</p>
    <table class="table table-hover table-striped">
        <caption class="sr-only">List of Users</caption>

        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="onRemoveUser(user.id)">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" [routerLink]="['/users/edit', user.id]">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noUsers>
    <div class="alert alert-info">
        <p>No users found.</p>
    </div>
</ng-template>