<div class="container my-4">
    <h3>{{title}}</h3>

    <button class="btn btn-primary mb-3" (click)="setOpen()">
        {{ open ? 'Cerrar Formulario' : 'Agregar Usuario' }}
    </button>
    <div class="row">

        <div class="col">
            <user [users]="users" (idUserEventEmitter)="removeUser($event)"
                (selectedUserEventEmitter)="setSelectedUser($event)"></user>
        </div>

    </div>
    <!-- Formulario de creación de usuario  PRUEBAS-->

</div>

@if (open) {
<div class="abrir-modal animacion fadeIn">
    <user-form (newUserEventEmitter)="addUser($event)" [user]="userSelected" (openEventEmitter)="setOpen()"></user-form>
</div>
}