<div class="container my-4">
    <h3>{{title}}</h3>

    <button class="btn btn-primary mb-3" (click)="setOpen()">
        {{ open ? 'Cerrar Formulario' : 'Agregar Usuario' }}
    </button>
    <div class="row">
        @if (open) {
            <div class="col">
                <user-form (newUserEventEmitter)="addUser($event)" [user]="userSelected"></user-form>
            </div>
        } @else {
        <div class="col">
            <user [users]="users" (idUserEventEmitter)="removeUser($event)"
                (selectedUserEventEmitter)="setSelectedUser($event)"></user>
        </div>
    }
    </div>
    <!-- Formulario de creación de usuario  PRUEBAS 2 test 1234 PARA MERGE-->

</div>
